<p>heroes works!</p>
<!-- <input [(ngModel)]="person.name" placeholder="yow">

<p>{{person.name | uppercase}}</p> -->

<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
        {{hero.name}}
        </a>
    </li>
</ul>

<!-- <div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div>id: {{selectedHero.id}}</div>

    <label for="hero-name">Hero name: </label>
    <input type="text" [(ngModel)]="selectedHero.name">
</div> -->

<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
<app-hero-detail></app-hero-detail>